html{
    height: 100vh;
}

body{
    min-height: 100vh;
    background-color: #a7a7a7;
}

.header{
    display: flex;
    height: 5.5em;
    margin-bottom: 2px;
}


.menuContexto {
    border: 1px solid #000;
    position:absolute;
    z-index:1;
    font: 11px sans-serif;
    display:none;
}

#opContexto {
    font-size: 1.5vh;
    text-align: center;
    background-color: aliceblue;
    opacity: 95%;
    padding: 2vh 1vh;
    width: 20vh;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#opContexto:hover {
    background:#eee;
}

#vincula{
    display: none;
    margin: 0 0;
    background-color: #817777;
    position: absolute;
    z-index: 2;
    top: 30vh;
    left: 33.44%;
    width: 50vh;
    height: 15vh;
    border: 1px solid;
    border-radius: 5px;
    opacity: 95%;
}

#btnSairV
    {position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 0.4vh 0.7vh;
    font-size: 2.2vh;    
}


#nomeV{
    position: absolute;
    margin-top: 5.5vh;
    left: 10%;
    width: 30vh;
    height: 3vh;
    border: 1px solid;
    border-radius: 4px;
}


#btnOkV{
    position: absolute;
    margin-top: 5.4vh;
    right: 0;
    font-size: 1.7vh;
    margin-right: 3vh;
    width: 9vh;
    height: 3vh;
    border: 1px solid;
    border-radius: 5px;
}


#textoExpV{
    position: absolute;
    left: 22%;
    padding-top: 3%;
    font-size: 2.2vh;
}


.img-w{
    height: inherit;
    width: 100%;
    margin-top: 0px;
    margin-left: 20%;
    background-image: url('../../data/whatsconcentra-sem-sombra.png'); 
    background-repeat: no-repeat;
}

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: black;
}

html ::-webkit-scrollbar-track {
    background: #ededed

}

.container{
    background-color: inherit;
}

.tabulator .tabulator-header {
    background-color: #6c6c6c;
    color: #fff;
    font-weight: 400;
    font-weight: 700;
    border-top: none;
}

.tabulator .tabulator-header .tabulator-col {
    flex-wrap: wrap;
    align-content: space-around;
    border-right: none;
    background-color: #6c6c6c;
    color: lightgray;
    font-family: system-ui;
}

.tabulator .tabulator-header .tabulator-header-contents {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.tabulator .tabulator-tableholder .tabulator-table {
    font-size: 1.7vh !important;
}

#container-whats{
    width: 100%;
    height: 75vh;
}

.card{
    background-color: #6c6c6c;
    border: none;
}

.conversa_pai{
    height: 100%;    
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    color: #d3d3d3;
    background-color: #6c6c6c !important;
}

.contato-nome{
    margin-left: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 2.5vh;
    /*font-size: 1.5em;*/
}

.contato-volta{
    font-size: 3vh;
    margin-top: 1.2vh;
    cursor: pointer;
}

.contato-orcs{
    border: none;
    background-color: inherit;
    color: aliceblue;
    font-weight: bold;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 3vh;
    color: #d3d3d3;
}


.div-orcs{
    background-color: #6c6c6c !important;
    height: 82vh;
    /*height: 51em;
    height: 100%;*/    
}

.btn_envia-orcs{
    border: 2px solid #060606;
    background-color: #9fb2d5;
    color: darkslategrey;
    cursor: pointer;
    font-size: 1vh;
    font-variant: petite-caps;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
    height: 4vh;
    width: 8vh;
    
    &:hover{
        border: 2px solid #060606;
        background-color: #098034;
        color:#fff;
    }

    &:active{
        border: 2px solid #060606;
        background-color: #0f4623;
        color:#fff;
    }
}

.lista-orcs{
    font-size: 1.5vh;
    height: 90%;
}



.conversa{
    max-width:100%;
    height:95%;
    margin: 2px 2px 2px;
}

.msg{
    /*max-width: max-content;*/
    height: max-content;
    contain: content;
    border: 0.1px solid lightgray;
    font-size: 1.7vh;
    padding-bottom: 2vh !important;
}

.opMsg{
    display: none;
    position: absolute;
    top: 0vh;
    right: 1vh;
    width: 1vh;
    height: 1vh;

    /*&:hover{
        display: block;
    }*/
}

.fromMe{
    margin-left: auto !important;
}

/*.mediaFromMe{
    margin-left: calc(50% - 5em) !important;
}*/

.dataMsg{
    font-size: medium;
    font-family: monospace;
    border: 1px solid darkgrey;
    padding-top: 0.6em;
    margin-top: 3em;
    margin-bottom: 1em;
    margin-right: calc((100% / 2) - 5.5em);
    margin-left: calc(100% / 2);
    background-image: linear-gradient(1deg, #7e84ef, #c8c7ec);
    border-radius: 10px;
    height: 3em;
}

.horarioMsg{
    position: absolute;
    color: #494646;
    font-size: 1.2vh;
    letter-spacing: 1px;
    height: 1vh;
    width: 5.5vh;
    bottom: -0.4vh;
    right: 0vh;
}

.horarioMsgAudio{
    margin-top: 22%;
    margin-left: 76%;
}

.msgQuote{
    min-width: 58%;
    max-width: 58%;
    word-wrap: break-word;
    background-color: #8a8989;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-radius: 5px;
    font-size: 1.7vh;
    width: max-content;
    margin-bottom: -6px;
    margin-left: 5px;
    padding: 1vh 1vh;
    cursor: pointer;
}

.imgMsg{
    width: 100%;
    height: 25em;
    cursor: pointer;
}

.videoMsg{
    width: 100%;
    height: 25em;
    cursor: pointer;
}

.stickerMsg{
    width: 100px;
    height: 100px;
}

.audioMsg{
    cursor: pointer;
    /*margin-left: calc(100% - 5em) !important;*/
    justify-content: center;
    font-size: larger;
}

.docMsg{
    cursor: pointer;
    font-size: 1.4vh;
}

.cipherText{

}

.dialogImg{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
}

.imgDialogAberto{
    margin: 15% auto;
    padding: 10%;
    width: 70%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.borda_caixa_conv{
    /*background-color: snow;*/
    background-color:#dad2d2;
    border-style: groove;
    border-color: rgb(213, 206, 206);
    border-width: 2px;
    border-radius: 5px;
}

.texto_btn{
    background-color: whitesmoke;
    border-radius: 10px;
    height:7%;
    margin: 3px 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto_input{
    border-width: 0px;
    width:100%;
    margin: 0px 0px 0px;
}

.btn_envia{    
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn_anexo{    
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}

.btn_sair{
    background-color: inherit;
    margin: -3em 0px 0px
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea{
    resize: none;
    font-size: 1.5rem;
}

button:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#btn_opMsg{
    margin: 0px 0px 0px 0px;
    margin-left: -0.4em;
    margin-right: 0.1em;
}

#btn_anexo_svg{
    margin: 0px 0px 0px 0px;
    margin-left: -0.4em;
    margin-right: 0.1em;
    font-size: 3vh;
}    

#btn_enviar_svg{
    margin:0px -1rem 0px 0px;
    font-size: 3vh;
    margin-right: -1rem
    font-size: 3vh;
}

#btn_sair_svg{
    font-size: 4vh;
    margin-right: -1vh;
}

input[type='file'] {
    display: none
}

.piscaMensagem{
    border: 3px solid blue !important;
}

audio {
    margin-bottom: 2vh;
    width: 70vh;
    height: 5vh;
}

.dlgErro{
    position: absolute;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 95%;
    z-index: 10;
}

.boxDlg{
    margin-left: 16%;
    margin-top: 30vh;
    width: 70vh;
    height: 30vh;
    border: 1px solid #212529;
    border-radius: 20px;
    background-color: gray;
}

.btnErro{
    position: relative;
    top: 1.5vh;
    left: 66vh;
    font-size: 2.5vh;
    cursor: pointer;
}

.msgErro{
    margin: 3vh 3vh 3vh 3vh;
    font-size: 3vh;
    font-family: system-ui;
    word-wrap: break-word;
}



.titErro{
    font-size: 4vh;
    margin-left: 3vh;
}


.sepErro{
    width: 100%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}

/*
.piscaMensagem{
    animation-delay:2s;
    animation-duration: 3s;
    animation-name: piscaMsg;
}

@keyframes piscaMsg {
    0%{
        background-color: #9fb2d5 !important;
    }
    50%{
        background-color: blue !important;
    }
    100%{
        background-color: inherit !important;
    }
  }*/






/*@media only screen and (max-height: 700px) {
    #btn_anexo_svg{
        font-size: 1.2em;
    }    
}

@media only screen and (max-height: 800px) {
    #btn_anexo_svg{
        font-size: 1.3em;
    }    
}

@media only screen and (max-height: 900px) {
    #btn_anexo_svg{
        font-size: 1.5em;
    }    
}

@media only screen and (max-height: 1000px) {
    #btn_anexo_svg{
        font-size: 1.6em;
    }    
}

@media only screen and (max-height: 1100px) {
    #btn_anexo_svg{
        font-size: 1.7em;
    }    
}

@media only screen and (max-height: 1300px) {
    #btn_anexo_svg{
        font-size: 1.7em;
    }
}*/