.header{
    display: flex;
    height: 5.5em;
    margin-bottom: 2px;
}

.img-w{
    height: inherit;
    width: 100%;
    margin-top: 0px;
    margin-left: 20%;
    background-image: url('../../data/whatsconcentra-sem-sombra.png'); 
    background-repeat: no-repeat;
}


body{
    background-image: linear-gradient(rgb(233, 224, 224), white);
    background-repeat: no-repeat;
}

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: black;
}

html ::-webkit-scrollbar-track {
    background: #ededed

}


.tabulator .tabulator-header .tabulator-col {
    flex-wrap: wrap;
    align-content: space-around;
    border-right: none;
    background-image: linear-gradient(180deg, black, #d3bebe);
    color: lightgray;
    font-size: 15px;
    font-family: monospace;
}

.tabulator .tabulator-header .tabulator-header-contents {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#container-whats{
    width: 100%;
    height: 75vh;
}

.conversa_pai{
    height: 100%;    
}

.contato{
    display:flex;
    flex-direction: row;
    height: 10%;
    background-image: linear-gradient(225deg, grey, transparent);
}

.contato-nome{
    margin-left: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5em;
    text-shadow: lightgray 1px 1px;
}

.contato-foto{
    
}

.conversa{
    max-width:100%;
    height:95%;
    margin: 2px 2px 2px;
}

.msg{
    max-width: max-content;
    contain: content;
}

.imgMsg{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.stickerMsg{
    width: 100px;
    height: 100px;
}

.audioMsg{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    width: max-content;
    height: 50px;
}

.docMsg{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    width: max-content;
    height: 50px;
}

.cipherText{

}

.dialogImg{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
}

.imgDialogAberto{
    margin: 15% auto;
    padding: 10%;
    width: 70%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.borda_caixa_conv{
    border-style: groove;
    border-color: rgb(213, 206, 206);
    border-width: 2px;
    border-radius: 5px;
}

.texto_btn{
    background-color: whitesmoke;
    border-radius: 10px;
    height:7%;
    margin: 3px 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto_input{
    border-width: 0px;
    width:100%;
    margin: 0px 0px 0px;
}

.btn_envia{    
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn_sair{
    background-color: inherit;
    margin: -3em 0px 0px
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea{
    resize: none;
    font-size: 1.5rem;
}

button:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#btn_enviar_svg{
    margin:0px -1rem 0px 0px;
    font-size: 1.5em;
    margin-right: -1rem
}

#btn_sair_svg{
    font-size: 2em;
    margin-right: -1rem
}