.header{
    display: flex;
    height: 5.5em;
    margin-bottom: 2px;
}

.img-w{
    height: inherit;
    width: 100%;
    margin-top: 0px;
    margin-left: 20%;
    background-image: url('../../data/whatsconcentra-sem-sombra.png'); 
    background-repeat: no-repeat;
}


body{
    background-color: #a7a7a7;
}

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: black;
}

html ::-webkit-scrollbar-track {
    background: #ededed

}

.container{
    background-color: inherit;
}

.tabulator .tabulator-header {
    background-color: #6c6c6c;
    color: #fff;
    font-weight: 400;
    font-weight: 700;
    border-top: none;
}

.tabulator .tabulator-header .tabulator-col {
    flex-wrap: wrap;
    align-content: space-around;
    border-right: none;
    background-color: #6c6c6c;
    color: lightgray;
    font-family: system-ui;
}

.tabulator .tabulator-header .tabulator-header-contents {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#container-whats{
    width: 100%;
    height: 75vh;
}

.card{
    background-color: #6c6c6c;
    border: none;
}

.conversa_pai{
    height: 100%;    
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    color: #d3d3d3;
    background-color: #6c6c6c !important;
}

.contato-nome{
    margin-left: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5em;
}

.contato-foto{
    
}

.contato-orcs{
    border: none;
    background-color: inherit;
    color: aliceblue;
    font-weight: bold;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5em;
    color: #d3d3d3;
}


.div-orcs{
    background-color: #6c6c6c !important;
    height: 100%;
}

.btn_envia-orcs{
    border: 2px solid #060606;
    background-color: #9fb2d5;
    color: darkslategrey;
    cursor: pointer;
    font-size: smaller;
    font-variant: petite-caps;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    
    &:hover{
        border: 2px solid #060606;
        background-color: #098034;
        color:#fff;
    }

    &:active{
        border: 2px solid #060606;
        background-color: #0f4623;
        color:#fff;
    }
}

.lista-orcs{
    height: 90%;
}



.conversa{
    max-width:100%;
    height:95%;
    margin: 2px 2px 2px;
}

.msg{
    max-width: max-content;
    contain: content;
}

.msgQuote{
    background-color: lightgray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-radius: 5px;
    width: max-content;
    margin-bottom: -6px;
    margin-left: 5px;
    cursor: pointer;
}

.imgMsg{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.videoMsg{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.stickerMsg{
    width: 100px;
    height: 100px;
}

.audioMsg{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    width: max-content;
    height: 50px;
}

.docMsg{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    width: max-content;
    height: 50px;
}

.cipherText{

}

.dialogImg{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
}

.imgDialogAberto{
    margin: 15% auto;
    padding: 10%;
    width: 70%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.borda_caixa_conv{
    background-color: snow;
    border-style: groove;
    border-color: rgb(213, 206, 206);
    border-width: 2px;
    border-radius: 5px;
}

.texto_btn{
    background-color: whitesmoke;
    border-radius: 10px;
    height:7%;
    margin: 3px 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto_input{
    border-width: 0px;
    width:100%;
    margin: 0px 0px 0px;
}

.btn_envia{    
    margin: 0px 0px 0px 0px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn_sair{
    background-color: inherit;
    margin: -3em 0px 0px
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea{
    resize: none;
    font-size: 1.5rem;
}

button:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#btn_enviar_svg{
    margin:0px -1rem 0px 0px;
    font-size: 1.5em;
    margin-right: -1rem
}

#btn_sair_svg{
    font-size: 2em;
    margin-right: -1rem
}


.piscaMensagem{
    border: 3px solid blue !important;
}
/*
.piscaMensagem{
    animation-delay:2s;
    animation-duration: 3s;
    animation-name: piscaMsg;
}

@keyframes piscaMsg {
    0%{
        background-color: #9fb2d5 !important;
    }
    50%{
        background-color: blue !important;
    }
    100%{
        background-color: inherit !important;
    }
  }*/